!pip install tabula-py

In [14]:
import numpy as np

In [30]:
from tabula import read_pdf

tables = {}
fp = "./2008.06139.pdf"
pdf1 = read_pdf(fp, pages=[4])
table1 = pdf[0].stack().unstack()
tables[4] = table1

In [31]:
for page in np.arange(9,25,1):
    pdf = read_pdf(fp,  pages=[page])
    table = pdf[0].stack().unstack()
    tables[page] = table

Got stderr: Aug 18, 2020 11:03:18 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for prime (48) in font NOPBSI+CMSY5
Aug 18, 2020 11:03:19 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for prime (48) in font NOPBSI+CMSY5

In [88]:
tab = pd.concat([tables[i] for i in tables])
tab = tab.drop_duplicates().iloc[1:].reset_index(drop=True)
#remove rows
idx = tab[tab["Decl."]=='(dd:mm:ss.ss)'].index
tab = tab.drop(idx)
tab['R.A.'] = tab['R.A.'].str.replace("+",'')
tab['Decl.'] = tab['Decl.'].str.replace("–",'-')
tab.tail()

      MUTA          R.A.  ...     RV Unnamed: 0
534  · · ·  04:45:17.416  ...  · · ·        NaN
535  · · ·  04:45:52.712  ...  · · ·        NaN
536  · · ·  04:48:26.639  ...  · · ·        NaN
537  · · ·  04:50:27.329  ...  · · ·        NaN
538  · · ·  04:50:32.037  ...  · · ·        NaN

[5 rows x 14 columns]

In [89]:
fp = "/home/jp/github/research/project/chronos/chronos/data/Gagne2020/muTau.csv"
tab.to_csv(fp)

In [90]:
tab[['R.A.','Decl.']].to_csv('muTau_coords.txt', sep=' ', header=None, index=False)

In [91]:
df = pd.read_csv("/home/jp/github/research/project/chronos/chronos/data/Gagne2020/muTau.csv", index_col=0)
df.head()

                          MUTA          R.A.  ...   RV Unnamed: 0.1
0                     5 29 Tau  03:45:40.466  ...  NaN          NaN
1  137 2MASS J03454104+0602349  03:45:41.066  ...  NaN          NaN
2  138 2MASS J03454269+0603039  03:45:42.712  ...  NaN          NaN
3  139 2MASS J03454440+0603283  03:45:44.425  ...  NaN          NaN
4                  10 V766 Tau  03:51:15.896  ...  NaN          NaN

[5 rows x 14 columns]

In [92]:
from astropy.coordinates import SkyCoord

In [93]:
coords = SkyCoord(ra=df['R.A.'],
         dec=df['Decl.'],
         unit=('hourangle','degree')
        )
df.RA = coords.ra.deg
df.Dec = coords.dec.deg

/home/jp/miniconda3/envs/py3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """
/home/jp/miniconda3/envs/py3/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

df[['RA','Dec']].to_csv('muTau_coords.txt', index=False, header=False)